.calendar {
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 3px 3px rgba(144, 144, 144, 0.3),
    0 15px 12px rgba(187, 187, 187, 0.22);
  padding: 5px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.weekdays {
  display: flex;
  width: 100%;
  font-weight: bold;
}

.weekday {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 100%;
}

.calendar-day {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.selected {
  background-color: #3498db;
  color: #fff;
}

.empty-day {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.makeRoom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.makeRoomBtn {
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid rgb(189, 189, 189);
}
